<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatterBox</title>

</head>
<header>
    <div class="row" id="header-row">
        <div class="col-4">
            <button type="button" id="navbar-open-btn" class="btn btn-sm">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="col-8" id="main-chatterbox-label">
            <label>
                Chatterbox
            </label>
        </div>
    </div>
</header>
<body>

    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ChatterBox - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="/js/sidebarnav.js"></script>
    <link href="~/css/sidebar.css" rel="stylesheet" type="text/css" />


    @RenderSection("Scripts", required: false)
</body>
</html>
