@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container-fluid">
        <div class="row DND">            
            <img src="~/images/dnd.jpg" class=" rounded mx-auto d-block DND" alt="Responsive image">
        </div>
            <img src="~/images/pathfinder.jpg" class="rounded mx-auto d-block PthFinder" alt="Responsive image">
        </div>
    </div>
</div>

